@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    font-family: 'Josefin Sans', sans-serif;  
} 

body {
    background-color: #defcff;
}

.flashes {
    width: 100%;
    height: 50px;
    background-color: rgba(225,50,50,1);
    text-align: center;
    opacity: 0;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3); 
}

.flashes span{
    position: relative;
    top: 15px;
    color: white;
}

.box h1 {
    margin-top:20px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: #00a4b3;
}
.box {
    position: absolute;
    text-align: center;
    width: 90%;
    max-width: 350px;
    height: 500px;
    border: .5px solid rgba(0,0,0,0.3);
    box-shadow: 2px 5px 5px rgba(0,0,0,.3);
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    opacity: .85;
}

.box form{
    position: relative;
    top: 50%;
    transform: translateY(-70%);
}

.box input{
    width: 70%;
    text-align: center;
    font-size: 16px;
    height: 28px;
}


button{
    background-color: #00a4b3;
    color: rgba(255,255,255,1);
    font-size: 20px;
    width: 100px;
    height: auto;
    vertical-align: middle;
    -moz-transition: background-color 0.1s ease-in-out;
    -ms-transition: background-color 0.1s ease-in-out;
    -webkit-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
}

button:hover{
    background-color:#85d6de;
}

input, button{
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);    
}

.button{
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    padding: 4px;
    width: 100px;
    margin: 20px auto;
    background-color: #00a4b3;
    vertical-align: middle;
    color: rgba(255,255,255,1);
    font-size: 20px;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

a.noline{
    text-decoration: none;
}

.button.cancel {
    background-color: #B30F00;
}

.button.cancel:hover{
    background-color: #FF8B7F;
}

.button:hover{
    background-color:#85d6de;
}

.box.register input,button{
    margin-top: 10px;
    margin-bottom: 10px;
}

.box input[type=checkbox]{
    box-shadow: none;
    width: auto;
    height: auto;
}

.menu-button {
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
    color: #00a4b3;
}

.menu-button:hover{
    color: #85d6de;
}

.timestamp{
    position: absolute;
    text-align: center;
    top: 600px;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    width: 400px;
}

.portal-link {
    position: absolute;
    top: 20px;
    right: 40px;
}