{% extends "screen.html" %}
{% block box %}
    {% with user = Employee.query.get(current_user.get_id()) %}
        <h1><a class="menu-button" href="{{ url_for('portal') }}"><i class="fa fa-home" aria-hidden="true"></i></a>{{ user.fn }} {{ user.ln }}<a class="menu-button" href="settings"><i class="fa fa-cog" aria-hidden="true"></i></a></h1>
        {% if current_user.is_admin() %}
            <a class="noline" href='{{ url_for("reg") }}'><div class="button">Register</div></a>
        {% endif %}
            <a class="noline" href='{{ url_for("view") }}'><div class="button">View Entries</div></a>
            <a class='noline' href='{{ url_for("logout") }}'><div class="button cancel">Logout</div></a>
    {% endwith %}
    {% with user = Employee.query.get(current_user.get_id()) %}
        {% if user.clockedIn != "None" %}
            <div id="currentlyClockedIn">Currently clocked in as: {{ Timecard.query.filter(Timecard.timecardID == user.clockedIn).first().dept }} </div>
        {% endif %}
    {% endwith %}
{% endblock %}