{% extends "screen.html" %}
            {% block box %}
            <h1><a class="menu-button" href="{{ url_for('portal') }}"><i class="fa fa-home" aria-hidden="true"></i></a>Register Employee</h1>
            <form method="POST" id="register-emp" action="register_emp">
                <input id="employee-fn" name="employee-fn" type="text" placeholder="First Name" autocomplete="off" required="true"><br>
                <input id="employee-ln" name="employee-ln" type="text" placeholder="Last Name" autocomplete="off" required="true"><br>
                <input id="employee-id" name="employee-id" type="text" placeholder="Employee ID #" autocomplete="off" required="true"><br>
                <input id="employee-admin" name="employee-admin" type="checkbox"><label for="employee-admin">Admin?</label><br>
                <button type="submit" style="display:none"></button>
                <a class="noline" href="#" onclick="document.getElementById('register-emp').submit()">
                    <div class="button">Submit</div>
                </a>
            </form>
            {% endblock %}
