<!DOCTYPE html>
<html>
<head>
    <title>Timecard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
{% block body %}
{% with message = get_flashed_messages() %}
    {% if message[0] %}
        <script src="{{ url_for('static',filename='assets/js/flash.js') }}"></script>
        <div class="flashes" id="flash">
            <span>{{ message[0] }}</span>
        </div>
    {% else %}
        <script src="{{ url_for('static',filename='assets/js/timestamp.js') }}"></script>
    {% endif %}
{% endwith %}
    <div class="box" id="login-box">
        {% block box %}
        {% endblock %}
        <div id="timestamp" class="timestamp">Current Time:<span id="time"></span></div>
    </div>
        {% with next = request.args.get('next') %}
            {% if next != "/portal" and request.url_rule.rule != '/portal' %}
                <a class="portal-link" href="{{ url_for('portal') }}">Go To Portal</a>
            {% endif %}
        {% endwith %}
    
{% endblock %}
</body>
</html>